body {
  background-color: #21222b;
  padding: 0 1rem;
  color: whitesmoke;
  font-family: monospace;
  min-width: 400px;
  /* max-height: 1200px; */

}

h1, p {
  text-align: center;
  padding: 0 0.5rem 0 0.5rem;
}

pre {
  margin: 0;
  white-space: pre-wrap
}

input {
  flex-grow: 1;
  width: 100%;
  border: none;
  background-color: transparent;
  color: transparent;
  text-shadow: 0 0 0 whitesmoke;
  font-weight: bold;
  font-family: monospace;
}

input:focus {
  outline: none;
}

header {
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  margin-bottom:2em;
  background-color: #282a35;
}

section {
  margin: 0 auto;
  padding: 1rem;
  max-width: 45em;
}

button {
  cursor: pointer;
  font-weight: bold;
}

.container {
  margin-bottom: 3em;
}

.connect-window pre {
  text-align: center;
}

.connect-prompt {
  border: 1px dashed whitesmoke;
  margin-top: 0.5rem;
  padding: 0.25rem;
  display: flex;
}

.connect-prompt input {
  font-size: smaller;
  font-weight: normal;
}

.connect-btn {
  cursor: pointer;
  font-weight: bold;
  background-color: #88d441a9;
  height: 1.5em;
  line-height: 1.5em;
  min-width: 6rem;
  text-align: center;
}

.container .content {
  text-align: center;
  margin-top: 0.5rem;
}

.title {
  margin: 0 auto;
}

.container .title {
  background-color: #282a35;
  border: 1px solid #8b8b8b86;
}

.title p {
  font-weight: bold;
  color: rgb(96, 192, 101);
  height: 0.25rem;
  line-height: 0.25rem;
}

.view-frame .title {
  border: none;
  border-bottom: 1px solid purple;
}

.hide {
  display: none;
}

.program-window .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.program-window .menu ul li {
  margin: 0 0.5rem;
}

.program-window .menu li p {
  text-align: center;
  margin: 0;
  height: 1rem;
  line-height: 1rem;
  padding: 0.5rem;
}

.menu li p:hover, .active {
  cursor: pointer;
  font-weight: bold;
  background-color: #6d85a9;
}

.menu li:last-child {
  border-right: none;
}

.menu ul li p::before {
  content: '[ ';
}

.menu ul li p::after {
  content: ' ]';
}

.view-frame {
  border: 1px solid #8b8b8b86;
  background-color: #282a35;
}

.view-frame iframe {
  border: none;
  margin: 0 auto;
  width: 100%;
  color: whitesmoke;
  font-family: monospace;
  overflow: hidden;
  height: 30rem;
}

.log-entry {
  padding-bottom: 0.25rem;
}

:root {
  --retro-shadow: rgba(240, 46, 170, 0.4) 0 1px, rgba(240, 46, 170, 0.3) 0 2px, rgba(240, 46, 170, 0.2) 0 3px, rgba(240, 46, 170, 0.1) 0 4px, rgba(240, 46, 170, 0.05) 0 5px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}