body {
  background-color: #21222b;
  padding: 0 1rem;
  color: whitesmoke;
  font-family: monospace;
  min-width: 400px;
  max-height: 1200px;
  
}

h1,p {
  text-align: center;
  padding: 0 0.5rem 0 0.5rem;
}

pre {
  margin: 0;
  white-space: pre-wrap
}

input {
  flex-grow: 1;
  width: 100%;
  border: none;
  background-color: transparent;
  color: transparent;
  text-shadow: 0 0 0 whitesmoke;
  font-weight: bold;
  font-family: monospace;
}

input:focus {
  outline: none;
}

header {
  padding: 1em;
  margin-bottom:2em;
  background-color: #282a35;
  
}

section {
  max-width: 550px;
  margin: auto;
}

.container {
  margin-bottom: 1rem;
}

.title-bar {
  width: 10rem;
  margin: 0 auto;
}

.title-bar p {
  font-weight: bold;
  margin: 0.5rem;
  color: rgb(96, 192, 101);
  
}

.shadow {
  background-color: #282a35;
  margin-bottom: 1rem;
  border: 1px solid #8b8b8b86;
}

.hide {
  display: none;
}

.program-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.program-menu li {
  margin: 0 0.5rem;
}

.program-menu li p {
  text-align: center;
  margin: 0;
  height: 1rem;
  line-height: 1rem;
  padding: 0.5rem;
}

.program-menu li p:hover, .program-active {
  font-weight: bold;
  background-color: #6d85a9;
}

.program-menu li:last-child {
  border-right: none;
}

.terminal {
  border: 1px solid #8b8b8b86;
  background-color: #282a35;
}

.terminal .title-bar {
  width: 100%;
  border-bottom: 1px solid purple;
  border-left: none;
}

.info-window, .connect-window {
  padding: 0.5rem;
}

.info-window pre, .connect-window pre {
  overflow: hidden;
  text-align: center;
}

.terminal-window {
  height: 15rem;
  margin-top: 0.5rem;
  padding: 0 0.25rem 0 0.25rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.term-entry {
  word-break: break-all
}

.cmd-window {
  padding: 0.5rem;
}

.terminal-prompt, .connect-prompt {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.terminal-prompt .login {
  flex-shrink: 1;
  height: 1rem;
  line-height: 1rem;
}

.input-bar {
  flex-grow: 1;
  display: flex;
  align-content: flex-start;
  line-height: 1rem;
  padding: 0;
}

.input-field {
  margin: 0;
  width: 0rem;
}

.cursor {
  border: 1px dotted blue;
  padding: 0;
  margin: 0;
  width: 0.5rem;
}

.input-bar .prompt-cursor {
  margin-left: auto;
}

.connect-prompt {
  border: 1px dashed whitesmoke;
  margin-top: 0.5rem;
  padding: 0.25rem;
}

.prompt-user {
  color: #87d441;
  font-weight: bold;
}
.prompt-location {
  color: #6d85a9;
  font-weight: bold;
}
.prompt-dollar {
  color: #ddd;
  font-weight: bold;
}
.prompt-cursor {
  height: 17px;
  width: 8px;
  background: white;
  display: block;
  margin-left: 8px;
  animation: 1000ms ease infinite alternate blink;
}

.connect-input {
  font-size: smaller;
  font-weight: normal;
}

.send-btn, .connect-btn {
  cursor: pointer;
  font-weight: bold;
}

.connect-btn {
  background-color: #88d441a9;
  height: 1.5em;
  line-height: 1.5em;
  min-width: 6rem;
  text-align: center;
}

.program-window {
  overflow-y: auto;
  overflow-x: hidden;
  height: 10rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.log-entry {
  padding-bottom: 0.25rem;
}

:root {
  --retro-shadow: rgba(240, 46, 170, 0.4) 0 1px, rgba(240, 46, 170, 0.3) 0 2px, rgba(240, 46, 170, 0.2) 0 3px, rgba(240, 46, 170, 0.1) 0 4px, rgba(240, 46, 170, 0.05) 0 5px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}