
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 26rem;
}

.hide {
  display: none;
}

.terminal-output {
  height: 100%;
  margin-top: 0.5rem;
  padding: 0 0.25rem 0 0.25rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.command-prompt {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.command-prompt .user {
  flex-shrink: 1;
  height: 1rem;
  line-height: 1rem;
}

.user .username {
  color: #87d441;
  font-weight: bold;
}

.user .location {
  color: #6d85a9;
  font-weight: bold;
}

.user .role {
  color: #ddd;
  font-weight: bold;
}

.command-line {
  flex-grow: 1;
  display: flex;
  align-content: flex-start;
  line-height: 1rem;
  padding: 0;
}

.input-field {
  width: 0;
}

.input-cursor {
  padding: 0;
  margin: 0;
  width: 0.5rem;
  height: 17px;
  background: white;
  animation: 1000ms ease infinite alternate blink;
}

.send-btn {
  cursor: pointer;
  font-weight: bold;
}
