body { 
  color: white; 
  font-family: monospace;
  background-color: #282a35;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

section {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.channel-select {
  display: flex;
  background-color: #1d2e3a;
  height:1.75rem;
}

.info {
  background-color: #1d2e3a;
  height: 2rem;
  line-height: 2rem;
}

.content-window {

}

.content-window {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.1);
  height: 25rem;
  overflow-y: scroll;
}

.content-window pre:focus {
  outline: none;
}

.action-menu {
  display: flex;
  align-content:space-around;
  background-color: #1d223a;
}

.action-menu .item {

}

.info-row {
  display: flex;
  height: 1.75rem;
  margin: 0;
  padding: 0;
  line-height: 1.75rem;
}

.info-row label {
  text-align: right;
  min-width: 5rem;
  margin: 0;
  padding: 0 0.5rem;
  font-weight: bold;
  background-color: aqua;
}

.info-field {
  flex: 1;
  display: flex;
}

.info-row span {
  flex-grow: 1;
  background-color: #1d223a;
}

.action-menu .item {
  padding: 0.5rem 1rem;
  height: 2rem;
  line-height: 2rem;
}

.action-menu .item:hover {
  background-color: #1d2e3a;
}

.row {
  margin: 0;
  padding: 0;
}

.row .item {
  display: flex;
  margin: 0;
  padding: 0;
}

.index {
  color: var(--idx-color);
  font-weight: bold;
}

.index::before {
  color: var(--arr-color);
  content: "["
}

.index::after {
  color: var(--arr-color);
  content: "]"
}

.key {
  color: var(--key-color);
  font-weight: bold;
}

.key::before {
  content: "\""
}

.key::after {
  content: "\""
}

.separator {
  color: rgba(255, 255, 255, 0.75);
}

.value {
  margin-left: 5px;
}

.string.value {
  color: var(--str-color);
}

.string.value::before {
  content: "\""
}

.string.value::after {
  content: "\""
}

.number.value {
  color: var(--num-color);
}

/* .array.value {
  color: rgb(0, 87, 128);
  content: "[";
}

.array.value::before {
  color: rgb(199, 140, 199);
  content: "";
}

.array.value::after {
  color: var(--arr-color);
  content: "[";
} */

.row.empty .array.value::after {
  color: var(--arr-color);
  content: "[]";
}

/* .array.row:not(.empty)::after {
  color: var(--arr-color);
  content: "]"
} */

/* .object.value::after {
  color: var(--obj-color);
  content: "{"
}

.object.row::after {
  color: var(--obj-color);
  content: "}"
} */

.children:empty {
  display: none;
}

#root > .item {
  display: none;
}

:root {
  --idx-color: cyan;
  --key-color: orange;
  --num-color: lightblue;
  --str-color: lightgreen;
  --arr-color: rgb(192, 135, 192);
  --obj-color: silver;
}